<!--Try adding some html here to update the form-footer-start placeholder-->
<hr />

<div class="custom-div">
  <div class="internal-div">
    <h1 class="custom-h1">
      {% if locale == "fr" %} Vous n'êtes pas membre de Honda? {% else %} Not a
      Honda member? {% endif %}
    </h1>
    <sup><button>&#9432;</button></sup>
  </div>
</div>
<button type="" class="custom-btn" id="join-today-btn">
  {% if locale == "fr" %} Rejoignez-nous aujourd'hui ! {% else %} Join Today! {%
  endif %}
</button>
